.tituloPrincipal{
    font-family: monaco;
}
.primeraSeccion{
    margin-top: 4rem;
}
.carousel-caption{
    background-color: rgb(0, 0, 0, 0.5);
}
.miniatura{
    object-fit: cover;
    width:auto;
    height:270px;

}

.imagenDetalle{
    width: 50%;
    height: auto;
}

footer{
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
}

.seccionIntermedia{
    margin-left: 3rem;
    margin-right: 3rem;
}

@import url(https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap);

.tituloPrincipal {
    font-family: 'Kanit', sans-serif;
}